{% extends './base.html' %}


{% block title %}Dashboard{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}



{% block body %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<script src="/src/templates/auth/app.js"></script>

<a  class="btn btn-outline-secondary" style="margin-right: 95%;" href="{{ url_for('home') }}"><</a>

<div class="container">
<h1>CharJS Json data Api</h1>
<canvas id="speedChart1" width="600" height="400"></canvas>
<canvas id="speedChart2" width="600" height="400"></canvas>
<canvas id="speedChart3" width="600" height="400"></canvas>
<canvas id="speedChart4" width="600" height="400"></canvas>
<canvas id="speedChart5" width="600" height="400"></canvas>
<canvas id="speedChart6" width="600" height="400"></canvas>



<script type="text/javascript" src="{{ url_for('static', filename='js/1.js') }}"></script>
<br>
<script type="text/javascript" src="{{ url_for('static', filename='js/2.js') }}"></script>
<br>
<script type="text/javascript" src="{{ url_for('static', filename='js/3.js') }}"></script>
<br>
<script type="text/javascript" src="{{ url_for('static', filename='js/4.js') }}"></script>
<br>
<script type="text/javascript" src="{{ url_for('static', filename='js/5.js') }}"></script>

</div>
{% endblock %}